html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}

@media (min-width: 406px) and (max-width: 1170px) {
  #monkey {
    top: 2px;
  }
}

